schematic/fp-info-cache
schematic/keychordz-cache.lib
schematic/keychordz.sch-bak
ESP32/.vscode/
ESP32/build/
*/hardware-backups/
keystats/target/
qmk/parser/target/
firmware/target/
hardware/_autosave*
hardware/#auto_saved_files#
